<header>
    <div class="row">
        <div class="main-container">
            <h1>PRESSPLAY</h1>
            <div class="yellow-line"></div>
            <div class="sub-container">
                TODOS OS SEUS JOGOS A UM <br /> <strong style="font-size: 20px;">PLAY DE DISTÂNCIA</strong>
            </div>
        </div>
        <div class="list-container">
            <ul>
                <li>
                    GitHub
                </li>
            </ul>
        </div>
    </div>
</header>
<router-outlet />