/* You can add global styles to this file, and also import other style files */
* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

body {
    background: linear-gradient(90deg, #6c4a89 16.62%, #B692D7 50.61%);
    background-repeat: repeat-y;
}